@{
    Layout = null;
}

<div>
    <form class="form-inline">
        <div class="form-group">
            <label>Seleccione Evento:</label>
                <select class="form-control"
                        ng-options="a.nombre for a in eventos"
                        ng-model="idEvento"
                        ng-change="listardatospais(idEvento)">
                </select>
        </div>
    </form>
</div>
<br />

<div class="row" ng-show="mostrartabla">
    <div class="col-md-3 col-md-offset-2">
        <div class="table-responsive">
            <header class="panel-heading">
                Resumen de Participantes por Paises
            </header>
            <table class="table table-condensed table-bordered table-striped table-advance flip-content">
                <thead>
                    <tr>
                        <th>Paises</th>
                        <th>Total Participates</th>
                    </tr>
                </thead>
                <tbody ng-repeat="listado in listadatospais">
                    <tr>
                        <td>{{listado.pais}}</td>
                        <td>{{listado.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
